.TestingRow {
  display: flex;
  justify-content: center;
  gap: 2em 2em; /* space between macro and weight blocks */
  padding: 3em;
  /* margin-left: 15em; */
  margin: auto;
  flex-wrap: wrap; /* allows them to stack if the screen gets tight */
}
.shape-container {
  /* width: 400px; or play with exact widths like 300px, etc. */
  box-sizing: border-box;
  border-radius: 30px;
  height: 360px;
  width: 410px;
  /* min-width: 41%; */
}

.img-size img {
  height: 200px;
  width: auto;
  display: flex;
  border-radius: 50%;
  display: block; /* ensures it's treated like a block element */
  margin: 0 auto;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center; /* ⬅️ this centers image & text horizontally */
  text-align: center; /* ⬅️ optional: center-aligns the text itself */
}

.ShapeContainerMacro {
  background-color: #f0f4f8;
}

.ShapeContainerWeight {
  background-color: #ff70ff;
}

.ShapeContainerLift {
  background-color: blue;
}

.TestingWrapper {
  display: flex;
  justify-content: center; /* Pushes entire TestingRow to the right */
}

.details h4 {
  max-width: 90%;
}

.AboutWeight img {
  max-width: 90%;
}
